<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <!--    <link th:rel="stylesheet" th:href="@{/CSS/calendar.css} "/>-->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    <!--    <script type="text/javascript" th:src="@{/script/calendar.js}"></script>-->

    <title>Add booking</title>
</head>
<body>


<div layout:fragment="content">

    <div class="masthead">
        <div class="container d-flex h-100 align-items-center">

            <div class="form-container">
                <div th:unless="${userVehicles.empty}">


                    <h2 class="sub-title">Book a Service</h2>

                    <div class="total-price">
                        <div>Total price:
                            <div class="inline" id="totalPrice">
                            </div>
                            $
                        </div>

                    </div>

                    <form class="well form-horizontal" action="#" th:action="@{/user/book}" method="post">


                        <div class="form-group">
                            <label>Type of Service</label>
                            <select id="serviceOption" th:field="${booking.type}">
                                <option th:each="typeService : ${T(finalproject.Ger_garage.Enums.ServiceType).values()}"
                                        th:value="${typeService}"
                                        th:text="${typeService.type}"
                                        th:data-price="${typeService.price}">
                                </option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="date">Date:</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       data-target="#datetimepicker1"
                                       th:field="${booking.bookingDate.date}" id="date" placeholder="Date"
                                       th:onchange="showDates()"/>

                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('booking.bookingDate.date')}"
                           th:errors="${booking.bookingDate.date}"></p>
                        <!--        <label>Date</label>-->
                        <!--         <input type="date" th:field="${booking.bookingDate.date}" placeholder="date">-->
                        <!--    <p th:if="${#fields.hasErrors('booking.bookingDate.date')}" th:errors="${booking.bookingDate.date}"></p>-->

                        <div class="form-group">
                            <label>Time:</label>
                            <select th:field="${booking.bookingDate.time}">
                                <option th:each="time : ${availableTime}"
                                        th:value="${time}"
                                        th:text="${time}">
                                </option>
                            </select>

                            <p class="error" th:if="${#fields.hasErrors('booking.bookingDate.time')}"
                               th:errors="${booking.bookingDate.time}"></p>
                        </div>
                        <div class="form-group">
                            <label>Vehicle:</label>
                            <select th:field="${booking.vehicle.vehicle_id}">
                                <option th:each="vehicle : ${userVehicles}"
                                        th:value="${vehicle.vehicle_id}"
                                        th:text="${vehicle.model}">
                                </option>
                            </select>
                        </div>


                        <label>Describe your problem: </label>
                        <div class="form-group">
                    <textarea class="form-control" rows="5" id="comment" type="text" th:field="${booking.comment}"
                              placeholder="comment">
                    <p class="error" th:if="${#fields.hasErrors('booking.comment')}" th:errors="${booking.comment}"></p>
                </textarea>
                        </div>

                        <div class="form-group col-xs-offset-8 col-xs-4">
                            <input class="btn btn-primary btn-block btn-flat" type="submit" value="To book">
                        </div>

                    </form>

                </div>
                <div th:unless="${!userVehicles.empty}">
                    <p> Before booking our service you have to register a vehicle </p>
                    <a class="btn btn-primary btn-block btn-flat" role="button" th:href="@{/user/vehicle}">Register a Vehicle</a>
                </div>
            </div>

        </div>
    </div>


</div>

</body>
</html>