<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <!--    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/5.0/tempusdominus-bootstrap-4.min.css}"/>-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>


    <script type="text/javascript" th:src="@{/script.js}"></script>

    <title>Add booking</title>
</head>
<body>


<div layout:fragment="content">

    <section class="py-5">
        <div class="col-md-6 offset-md-3">
            <div class="card-header">
                <h3 class="mb-0">Book a Service</h3>
            </div>

            <div id='wrap'>

                <div id='calendar'></div>

                <div style='clear:both'></div>
            </div>


            <div class="card-body">


                <div th:unless="${userVehicles.empty}">
                    <form class="form" action="#" th:action="@{/user/book}" method="post">

                        <div class="form-group">
                            <label>Type of Service</label>
                            <select th:field="${booking.type}" th:onchange="showPrice()">
                                <option th:each="typeService : ${T(finalproject.Ger_garage.Enums.ServiceType).values()}"
                                        th:value="${typeService}"
                                        th:text="${typeService.displayServiceType}">
                                </option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="date">Date:</label>
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       data-target="#datetimepicker1"
                                       th:field="${booking.bookingDate.date}" id="date" placeholder="Date"
                                       th:onchange="showDates()"/>

                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('booking.bookingDate.date')}"
                           th:errors="${booking.bookingDate.date}"></p>
                        <!--        <label>Date</label>-->
                        <!--         <input type="date" th:field="${booking.bookingDate.date}" placeholder="date">-->
                        <!--    <p th:if="${#fields.hasErrors('booking.bookingDate.date')}" th:errors="${booking.bookingDate.date}"></p>-->

                        <div class="form-group">
                            <label>Time:</label>
                            <select th:field="${booking.bookingDate.time}">
                                <option th:each="time : ${availableTime}"
                                        th:value="${time}"
                                        th:text="${time}">
                                </option>
                            </select>

                            <p class="error" th:if="${#fields.hasErrors('booking.bookingDate.time')}"
                               th:errors="${booking.bookingDate.time}"></p>
                        </div>
                        <div class="form-group">
                            <label>Vehicle:</label>
                            <select th:field="${booking.vehicle.vehicle_id}">
                                <option th:each="vehicle : ${userVehicles}"
                                        th:value="${vehicle.vehicle_id}"
                                        th:text="${vehicle.model}">
                                </option>
                            </select>
                        </div>


                        <label>Describe your problem: </label>
                        <div class="form-group">
                    <textarea class="form-control" rows="5" id="comment" type="text" th:field="${booking.comment}"
                              placeholder="comment">
                    <p class="error" th:if="${#fields.hasErrors('booking.comment')}" th:errors="${booking.comment}"></p>
                </textarea>
                        </div>


                        <input class="btn btn-dark" type="submit" value="To book">


                    </form>

                </div>
                <div th:unless="${!userVehicles.empty}">
                    <p> Before booking our service you have to register a vehicle </p>
                    <a class="btn btn-dark" role="button" th:href="@{/user/vehicle}">Register a Vehicle</a>
                </div>
            </div>
        </div>
    </section>

</div>



<script th:inline="javascript">
/*<![CDATA[*/
<!--  var availableDates = ["9-6-2020","14-6-2020","15-6-2020"];-->

<!--function available(date) {-->
<!--  dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();-->
<!--  if ($.inArray(dmy, availableDates) !== -1) {-->
<!--    return [true, "","Available"];-->
<!--  } else {-->
<!--    return [false,"","unAvailable"];-->
<!--  }-->
<!--}-->

<!--      function showPrice() {-->
<!--                var price = document.getElementById("price");-->
<!--               choice = $("#booking.type option:selected").index();-->
<!--                price =-->
<!--&lt;!&ndash;                [[${booking.type}]];&ndash;&gt;-->
<!--            }-->
<!--            $(function() { showPrice(); });-->

<!--    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {-->
<!--        icons: {-->
<!--            time: 'far fa-clock',-->
<!--            date: 'far fa-calendar',-->
<!--            up: 'fas fa-arrow-up',-->
<!--            down: 'fas fa-arrow-down',-->
<!--            previous: 'fas fa-chevron-left',-->
<!--            next: 'fas fa-chevron-right',-->
<!--            today: 'far fa-calendar-check-o',-->
<!--            clear: 'far fa-trash',-->
<!--            close: 'far fa-times'-->
<!--        } });-->



<!--var disabledDate = ['2020-8-18', '2020-8-19','2020-8-20'];-->
<!--var disabledDate =  [[${dates}]];-->



/*]]>*/



</script>

</body>
</html>