<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.1/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/bootstrap.css} "/>
    <title>Receipt</title>
</head>
<body>
<header th:replace="fragments :: navigation"></header>
<body>

<div class="text-center">
    <div class="h4">
        <div>
            <p th:text="${'Customer: ' + booking.user.first_name + ' ' + booking.user.last_name}"></p>
        </div>

        <div>
            <p th:text="${'Id of Service:  ' + booking.id}"></p>
        </div>
        <div>
            <p th:text="${ 'Type of Service:  ' + booking.type}"></p>
        </div>
        <div>
            <p th:text="${ 'Car Model:  ' + booking.vehicle.model}"></p>
        </div>
        <div>
            <p th:text="${ 'Car Licence:  ' + booking.vehicle.licence}"></p>
        </div>
        <div>
            <p th:text="${ 'Mechanic: '  + booking.mechanic.firstName + ' ' + booking.mechanic.lastName}"></p>
        </div>
        <div>
            <p th:text="${'Status: ' + booking.status}"></p>
        </div>
        <div>
            <div>
                <p>Additional items: </p>
                <div th:each="item : ${booking.items}">
                    <p th:text="${item.name + ' '+  item.price}"></p>
                </div>
            </div>
        </div>

        <div>
            <p th:text="${ 'Total Price: ' + booking.price}"></p>
        </div>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>