<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <title>User details</title>
</head>
<body>
<!--    <div>-->
<!--        <p sec:authentication="principal.username"></p>-->
<!--    </div>-->
<div layout:fragment="content">


    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="form-container">

                <h2 th:text="${'User: ' + userId.username}"></h2>
                <div class="form-group">
                    <label>Id:</label>
                    <div class="inline" th:text="${userId.id}"></div>
                </div>

                <div class="form-group">
                    <label>User Name:</label>
                    <div class="inline" th:text="${userId.username}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <div class="inline" th:text="${userId.email}">
                    </div>
                </div>
                <div class="form-group">
                    <label>First Name:</label>
                    <div class="inline" th:text="${userId.first_name}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <div class="inline" th:text="${userId.last_name}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <div class="inline" th:text="${userId.gender}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number:</label>
                    <div class="inline" th:unless="${userId.phone_number == null}">
                        <div class="inline" th:text="${userId.phone_number}"></div>
                    </div>

                    <div class="inline"  th:unless="${userId.phone_number != null}">
                        <div> None</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>date of Birth:</label>
                    <div class="inline" th:text="${userId.date_of_birth}">
                    </div>
                </div>
                <a class="btn btn-primary btn-block btn-flat" role="button" type="button" th:href="@{/user/update}">Change
                    the
                    Details</a>

            </div>
        </div>
    </header>

</div>
</body>
</html>