<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>User's bookings</title>
</head>
<body>

<div layout:fragment="content">
    <h1>User's bookings</h1>
    <div th:unless="${userBookings.empty}">


        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Vehicle</th>
                <th>Date</th>
                <th>Time</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Price</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="booking : ${userBookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.type}"></td>
                <td th:text="${booking.vehicle.model}"></td>
                <td th:text="${booking.bookingDate.date}"></td>
                <td th:text="${booking.bookingDate.time}"></td>
                <td th:text="${booking.comment}"></td>
                <td th:text="${booking.status}"></td>
                <td th:text="${booking.price}"></td>
                <div th:if="${booking.status == T(finalproject.Ger_garage.Enums.BookingStatus).COMPLETED}">
                    <td><a th:href="@{/user/receipt/{id}(id=${booking.id})}">Receipt</a></td>
                </div>
                <div th:if="${booking.status == T(finalproject.Ger_garage.Enums.BookingStatus).COLLECTED}">
                    <td><a th:href="@{/user/receipt/{id}(id=${booking.id})}">Receipt</a></td>
                </div>
            </tr>

            <!--        <td th:text="${vehicle.vehicle_id}"></td>-->

            <!--	     <td>-->
            <!--	    &lt;!&ndash;<form th:action="@{/user/vehicle/delete}"  method ="post">-->
            <!--	    <input type="hidden" name= "id" th:value= "${vehicle.vehicle_id}">-->
            <!--	    <input type="submit" value = "Delete">-->
            <!--	     </form>&ndash;&gt;-->
            <!--	    </td>-->

            <!-- <td><a th:href="@{/user/users/{id}(id=${user.id})}">Delete</a></td> -->

            </tbody>

        </table>
    </div>

    <div th:unless="${!userBookings.empty}">
        <div class="text-center">
            <p> You don't have any bookings</p>
            <a class="btn btn-dark" role="button" th:href="@{/user/book/}">Book a Service</a>
        </div>
    </div>
    <div>


    </div>
</div>
</body>
</html>