<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Vehicle</title>
</head>
<body>


<div layout:fragment="content">


    <!-- Masthead-->
    <div class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="long-form-container">

                <h2 class="sub-title">Register A New Vehicle</h2>

                <form class="form" action="#" th:action="@{/user/vehicle}"
                      th:object="${vehicle}"
                      method="post">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" th:field="${vehicle.type}">
                            <option th:each="type : ${T(finalproject.Ger_garage.Enums.typeVehicle).values()}"
                                    th:value="${type}"
                                    th:text="${type.displayType}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Licence Plate</label>
                        <input type="text" class="form-control" th:field="*{licence}" placeholder="licence plate">
                        <p class="error" th:if="${#fields.hasErrors('licence')}" th:errors="*{licence}"></p>
                    </div>
                    <div class="form-group">
                        <label>Engine Type</label>
                        <select class="form-control" th:field="${vehicle.engine}">
                            <option th:each="engine : ${T(finalproject.Ger_garage.Enums.Engine).values()}"
                                    th:value="${engine}"
                                    th:text="${engine.displayEngine}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Make</label>
                        <select class="form-control" th:field="${vehicle.make}">
                            <option th:each="make : ${T(finalproject.Ger_garage.Enums.CarMake).values()}"
                                    th:value="${make}"
                                    th:text="${make.displayMake}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <input class="form-control" type="text" th:field="*{model}" placeholder="model">
                        <p class="error" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p>
                    </div>
                    <div class="form-group">
                        <label>Mileage</label>
                        <input class="form-control" type="number" th:field="*{mileage}" placeholder="kilometers">
                        <p class="error" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></p>
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input class="form-control" type="number" th:field="*{age}" placeholder="age">
                        <p class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <input class="form-control" type="text" th:field="*{other_details}" placeholder="details">
                        <p class="error" th:if="${#fields.hasErrors('other_details')}" th:errors="*{other_details}"></p>
                    </div>

                    <input class="btn btn-primary btn-block btn-flat" type="submit" value="Add Vehicle">
                </form>
            </div>
        </div>
    </div>


</div>

</body>
</html>