<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <title>User Vehicle</title>
</head>
<body>
<!--    <div>-->
<!--        <p sec:authentication="principal.username"></p>-->
<!--    </div>-->
<div layout:fragment="content">


    <!-- Masthead-->
    <header class="masthead" id="mastheadTable">
    </header>

    <!-- vehicle details-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">


            <h1 class="table-title"> My Vehicle Details </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <label> Vehicle Id:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.vehicle_id}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Type:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.type}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Lincence Plate:</label>
                    </div>

                    <div class="col-md-6">
                        <p th:text="${vehicle.licence}">
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Engine Type:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.engine}">
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Make:</label>
                    </div>

                    <div class="col-md-6">
                        <p th:text="${vehicle.make}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Model:</label>
                    </div>

                    <div class="col-md-6">
                        <p th:text="${vehicle.model}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Mileage:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.mileage}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Age:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.age}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Additional Details:</label>
                    </div>
                    <div class="col-md-6">
                        <p th:text="${vehicle.other_details}"></p>
                    </div>
                </div>
            </div>

        </div>
    </section>


</div>
</body>
</html>