<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.1/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/bootstrap.css} "/>
    <title>index</title>
</head>
<body>

<header th:replace="fragments :: navigation"></header>


<div class="text-center">
    <p class="h1">About Us:</p>
    <p class="h4">Driving Quality
        Attention to detail, pride and respect for time honoured workmanship in the pursuit of driving quality, these
        are the key motivators behind all that Ger's Garage represents. However talking and writing about this is
        easily achieved, the real challenge is the turning of these core values into day to day practices.

        With over 100 years combined Motor Industry experience with leading brands such as Mercedes-Benz, Volkswagen and
        Audi to name but a few, the personnel at Ger's Garage are perfectly in tune and focused on customers'
        needs.

        The "hands on" approach and close relationship to the customer separates Ger's Garage from its
        competitors. Nobody is committed to you and your car quite like a member of the Ger's Garage team and it
        is this relationship coupled with high quality practices that is attracting more and more discerning motorists.

        To experience quality for yourself simply call us today on 01 666 66 66.</p>
</div>
<!--<div sec:authorize="isAuthenticated()">This content is only shown-->
<!--    to authenticated users.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only-->
<!--    shown to administrators.-->
<!--</div>-->
<!--<div sec:authorize="hasRole('ROLE_USER')">This content is only-->
<!--    shown to users.-->
<!--</div>-->

<footer th:replace="fragments :: footer"></footer>
</body>


</html>