<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.1/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/CSS/bootstrap.css} "/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/script/script.js}"></script>


    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Ger's Garage</title>
</head>
<body>

<header th:replace="fragments :: navigation"></header>

<div layout:fragment="content">
</div>

<footer th:replace="fragments :: footer"></footer>
</body>


</html>